.beer-meter {
  position: relative;
}

.beer {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 50px;
  }
}

.beer-label {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(calc(-50% - 2px));
  font-size: 10px;
  font-weight: 700;
  font-family: cursive;
  color: #6e4921;
}
