:host {
  position: absolute;
  top: 24px;
  left: 24px;
}

.info-panel {
  display: flex;
  flex-direction: column;
  background: #f5ecda;
  padding: 8px;
  border-radius: 4px;
  color: #6e4921;
  width: 200px;

  .info-table {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #6e4921;

      a {
        text-decoration: none;
        color: #6e4921;
      }
    }
  }
}

.date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.label {
  font-weight: 700;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 8px;
  font-size: 11px;

  input,
  input:focus,
  input:focus-visible,
  input:hover,
  input:active {
    color: #6e4921;
    font-weight: 600;
    border: none;
    outline: none;
    background: none;
    font-size: 11px;
    padding: 0;
    max-width: 32px;
    appearance: textfield;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.material-symbols-outlined {
  cursor: pointer;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;

  &.inactive {
    font-variation-settings: 'wght' 100;
  }
}

@media only screen and (max-height: 743px) {
  :host {
    top: unset;
    left: unset;
    bottom: 32px;
    right: 24px;
  }
}
